---

---

$brnd-lime: #80FF55;
$brnd-lime-deep: #6ADB4B;
$brnd-lime-light: rgba(128,255,85,.5);
$brnd-grey: #666666;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

$poppins: 'Poppins', sans-serif;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

html, body, h1, h2, h3, h4, h5, h6{
  font-family: $poppins;
  color: $brnd-grey;
}

body{
  font-size: 18px;
}

h1{
  font-weight: $bold;
  font-size: 60px;
  margin-bottom: 50px;
}

p{
  font-size: 30px;
  line-height: 40px;
}

.post-list{
  h2{
    margin-bottom: 0rem;
    a{
      color: $brnd-grey;
    }
  }
}

.page-content{
  .post{
     a{
      background-color: $brnd-lime-light;
      color: $brnd-grey;
    } 
  } 
}


.post-link{
  font-size: 30px;
}

.post-meta{
  font-size: 18px;
}

// Header
.logo{
  height: 120px;
}

.site-header{
  background-color: $brnd-lime;
  border-top: none;
  border-bottom: none;
  position: none;
  min-height: none;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  .global{
    margin-bottom: 150px;
  }
}

.header-buffer{
  h1{
    margin-bottom: 30px;
  }
}

.nav-bar{
  float: none;
  line-height: 120px;
  font-size: 32px;
  font-weight: $bold;
  text-align: right;
  a{
    color: white;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: white;
    }
  }
  .nav-item{
    margin-left: 10px;
    margin-right: 10px;
  }
}

//Body
a{
  display: inline-block;
  text-decoration: underline;
//  border-bottom: 2px solid $brnd-grey;
  color: $brnd-grey;
  padding: 5px 5px 5px 5px;
  &:hover{
    background-color: $brnd-lime;
    text-decoration: none;
    color: $brnd-grey;
  }
  &:visited{
    color: $brnd-grey;
  }
  p{
    margin-bottom: 0;
  }
}

.service-container{
  margin-bottom: 10px;
}

// Footer
footer{
  background-color: $brnd-lime;
  color: white;
}

.footer-logo-container{
  margin-top: 30px;
  margin-bottom: 40px;
}

.footer-left{
  line-height: 45px;
}

.footer-right{
  line-height: 45px;
  text-align: right;
}

div.medium-4.columns.footer-right{
  text-align:right;
}

.instagram-logo{
  height: 35px;
  &:hover{
    opacity: 0.8;
  }
}

.twitter-logo{
  height: 30px;
  margin-right: 10px;
  &:hover{
    opacity: 0.8;
  }
}

.copyright{
  font-weight: $medium;
}

.site-footer{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
}

// Master
.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

//Foundation Fix
.columns:last-child:not(:first-child){
  float: left;
}


/*measurments pulled from foundation css file*/

/*for mobile friendly styling*/
@media screen and (max-width: 40em) {

  header{
    margin-bottom: 10px;
  }

  footerLeft, div.medium-4.columns.footer-right, footer{
    text-align: center;
  }

}

/*for tablet friendly styling*/
@media screen and (max-width: 64em) {

}
/* ************************************** */