<header class="site-header" style="background-color: #{{ page.color }}">

  <div class="row global">
    <a class="site-title small-4 large-2 columns" href="{{ site.baseurl }}/"><img class="logo" src="{{"/img/logowhite.svg" | prepend: site.baseurl }}"></a>

    <nav class="nav-bar small-8 large-10 columns">
      <a href="#services" class="nav-item">What We Do</a>
      <a href="#work" class="nav-item">Work</a>
      <a href="#" class="nav-item">Us</a>
    </nav>
  </div>
  
  <div class="row">
    <div class="small-12 columns header-buffer">
      
      {% if page.client %}
      <p>{{ page.client }}</p>
      {% endif %}
      
<!--      Unless statement might work-->
      {% if page.title %}
      <h1>{{ page.title }}</h1>
      {% endif %}
      
      {% if page.tagline %}
      <h1>{{ page.tagline }}</h1>
      {% endif %}
      
      {% if page.blurb %}
        <p>{{ page.blurb }}</p>
      {% endif %}
    </div>
  </div>
</header>
